footer {
  background-color: #00FF00;
  height: 60px;
  border-top: 1px solid #CCCCCC;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}

footer p {
  margin: 0;
}
